body {
 	margin:0;
 	padding:0;
}

a{
	text-decoration: none;
	list-style: none;
}

h3{
	font-weight: bold;
	color: black;
	font-family: verdena;
}


/* ----intro -----------*/
#intro{
	top:0;
	left: 0;
	width: 100%;
	height: 1000px;
	background-image: url("../images/background.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	border: 1px solid white;
	background-attachment: fixed;
}

#topHeader{
	border-radius: 5px;
	background-color: #333;
	width: 90%;
	margin: 2em auto;
	height: 100px;
	position: fixed;
	margin-left: 5%;
	z-index:999;
}

.logo a{
	color: #999;
	text-shadow: 1px 1px 1px black;
	font-size: 32px;
	font-family: Courier New ;
	position: fixed;
	width: 10%;
	line-height: 3.25;
	float: left;
	margin-left: 1em;
}

.logo a:hover{
	color:#ffffff;
}

#socialIcons{
	float: right;
	top:3em;
	right: 5em;
	position: fixed;
}
 
#socialIcons ul{
	margin:0;
	padding:0;
}

#socialIcons ul li{
	display: inline-block;
	width: 50px;
}

#socialIcons ul li a{
	text-decoration: none;
	border: 1px solid #999;
	text-align:center;
	font-family: "Times New Roman", Times, serif;
	border-radius: 50%;
	padding:20px 5px 2px 5px;
	transition:background-color 0.5e ease ;
	background-color:transparent;
}

#socialIcons ul li img{
	width:2em;
	height: 3em;
	text-align:center;
	padding-top: 1.25em;
	opacity: .3;
	border: none;

}

#socialIcons ul li img:hover{
	opacity: .8;
}

#logo span{
	font-size: 15px;
	float:left;
}


#container{
	width: 100%;
	height: auto;
}

#info{
	width: 100%;
	height:auto;
	text-align: center;
	color: #000000;
}

#info span{
	font-weight: bold;
	font-family:Algerian,"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 48px;
}

#info p{
	font-size: 24px;
	font-family: "vivaldi","verdena",sans-serif;;
}

#navigationIcons{
	margin:0 auto;
	width:100%;
	height: auto;
}

#navigationIcons ul{
	margin:0;
	padding: 0;
	text-align: center;
}


#navigationIcons ul li{
	width: 150px;
	height: 100px;
	display: inline-block;
	margin:10px 0 ;	
}

#navigationIcons ul li a{
	color: black;
	font-family: Vani,"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 18px;
}

#navigationIcons ul li a img{
	width: 70px;
	height: 70px;
	border-radius: 50%;
	border:1px solid #ccc;
	opacity: .3;
}

#navigationIcons ul li a img:hover{
	opacity: 1;
}

#navigationIcons ul li a p{
	text-align: center;

}

#navigationIcons ul li p:hover{
	color:white;
}

/*---- end intro------*/

 /*-----------------------divideImage ----------------- */

 #divider{
	background-repeat: none;
	background-attachment: fixed;
	width:100%;
	height: 400px;
}

 #divider p{
 	padding: 0;
 	margin: 0;
 	font-size: 70px;
 	position: relative;
 	top:150px;
 	text-align: center;
 	color: #ffffff;
 	font-size: 15px;
 	font-family: Vani,"Lucida Sans Unicode", "Lucida Grande", sans-serif;
 }

h5{
	font-size: 18px;	
	color: #ccc;
	padding-top: 150px;
	margin-left: 50%;
	
}

.image3{
	background-image: url("../images/intro-port.jpg");
}

.image2,.image1{
	background-color: #333;
}


 /*----------------------- end devideImage ----------------- */



/*==========================Portfolio======================================*/
#portfolio{
	background-color: #F8F8FF;
	background-repeat: no-repeat;
	background-position:left;
	background-size: cover;
	max-width: 100%;
	border: 1px solid #497B96;
	height: auto;
}

/* ---- portfolio header -----------*/

#logo{
	float:left;
	line-height: 3;
	width:10%;
	position: fixed;
	margin-left:4em;
	font-size: 24px;
}

#logo a{
	color: red;
	cursor: pointer;
}

#navMenu {
	background-color: #1a1919;
	width:100%;
	margin:0 auto;
	height: 70px;
	top:0;
	left:0;
	position: fixed;
	z-index: 999;
}

#navMenu ul{
	margin:0;
	padding:0;
	text-align: center;
}

#navMenu ul li{
	display:inline-block;
}

#navMenu ul li a{
	color:white;
	text-decoration: none;
	padding:27px;
	line-height: 4.75;
	font-size: 15px;
	text-transform: uppercase;
}

#navMenu ul li a:hover{
	color:black;
	background-color: #F9FFF6;
}
/* -------end portfolio header ------------ */

#mainContent{
	height: auto;
}

#filters{
	margin-top:100px;
	height:50px;
}

.isotope{
	/*change in main isotope function */
}

.isotope img{
    -webkit-transition: width 1s, height 1s, -webkit-transform 1s; 
    transition: width 1s, height 1s, transform 1s;
    margin:0 8%;
}

.isotope img:hover{
	width: 210px;
    height: 210px;
    -webkit-transform: rotate(5deg); 
    transform: rotate(5deg);
 }

/*==========================Skills======================================*/

#skills{
	background-color: #F8F8FF;
	background-repeat: no-repeat;
	background-position:left;
	background-size: cover;
	max-width: 100%;
	border: 1px solid #497B96;
	height: auto;
}

#skills p{
	width: 85%;
	margin: 0 auto;
	padding-top: 100px;
	text-align: justify;
	font-size: 15px;
	line-height: 2;
	font-family: Vani,"Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

#skillset{
	margin:0 auto;
	width:85%;
	height: auto;
	padding-top: 50px;
}

#skillset ul{
	padding: 0;
	margin:0;
	text-align: justify;
}

#parentskillset li{
	text-align: justify;
	font-size: 20px;
	font-family: Vani,"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	display: inline-block;
	color: red;
	margin:2% 9%;
}

#childskillset li{
	display: list-item;
	list-style: none;
	color: black;
	font-size: 15px;
}

#github{
	clear: both;
	margin: 2% 8%;
}
/*==========================Contact form======================================*/
#contact{
	background-color: #F8F8FF;
	background-repeat: no-repeat;
	background-position:left;
	background-size: cover;
	max-width: 100%;
	height: auto;
	border: 1px solid white;
}

#form{
	width:85%;
	margin:5% auto;
	font-family: verdena;
	line-height: 3;
	min-height:600px;
	background-color: transparent;

}

.form input{
	background-color: transparent;
	width:46.5%;
	height:55px;
	color:black;
	font-family: verdena;
	border-radius: 5px;
	margin-bottom: 1%;
	font-size: 24px;
	border:1px solid black;
}


/* place holder color change */
::-webkit-input-placeholder { /* WebKit browsers */
    color:    black;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    black;
    opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    black;
    opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    black;
}

#name{
	float: left;
	margin-right: 5%;
}

#email{
	float: left;
}

.form textarea{
	margin: 0;
	height: 200px;
	width: 98%;
	background-color: transparent;
	font-family: verdena;
	border-radius: 5px;
	font-size: 24px;
	border:1px solid black;
}


#submit{
	color: black;
	width:30%;
	border:1px solid black;
}

#submit:hover{
	background-color: #CDF1FD;
}

@media (min-width: 480px) and (max-width: 600px){
	.nav-btn{
		background-image: url("../images/menuButton.jpg");
		margin-top: 20px;
		margin-right: 1em;
		width:40px;
		height:35px;
		cursor: pointer;
		float: right;
		background-repeat: none; 
	}
	#navMenu ul {text-align: left;}
	#navMenu ul li {display:none;width:100%;background-color: #1A1919;}
	#navMenu ul li a{padding:22px 500px 22px 50px;text-transform: uppercase;}
	#portfolio{height: auto;}
	#logo{margin-left: 2em;}
	.form input{font-size: 18px; width:98%;}
	#submit{width:50%;}
}

@media (min-width: 320px) and (max-width: 480px){
	#info p{font-size: 18px;}
	#info span{font-size: 36px;}
	#navigationIcons ul{margin:50px 0 0 0;}
	#navigationIcons ul li{width: 98px; height: 75px;}
	.nav-btn{
		background-image: url("../images/menuButton.jpg");
		margin-top: 20px;
		margin-right: 1em;
		width:40px;
		height:35px;
		cursor: pointer;
		float: right;
		background-repeat: none; 
	}	
	#navMenu ul {text-align: left;}
	#navMenu ul li {display:none;width:100%;background-color:#1A1919;}
	#navMenu ul li a{padding:22px 400px 22px 50px;text-transform: uppercase;}
	#portfolio{ height: 1500px;}
	#logo{margin-left: 2em;}
	.isotope{padding-top: 5%;}
	.form input{font-size: 18px; width:98%;}
	.form textarea{font-size: 18px;}
	#submit{width:50%;}
}

@media (max-width: 320px){
	#info p{font-size:14px;}
	#info span{font-size: 24px;}
	#navigationIcons ul{margin:50px 0 0 0;}
	#navigationIcons ul li{width: 90px; height: 75px;}
	.nav-btn{
		background-image: url("../images/menuButton.jpg");
		margin-top: 20px;
		margin-right: 1em;
		width:40px;
		height:35px;
		cursor: pointer;
		float: right; 
		background-repeat: none; 
	}
	
	#navMenu ul {text-align: left;}
	#navMenu ul li {display:none;width:100%;background-color:#1A1919;}
	#navMenu ul li a{padding:22px 300px 22px 50px;text-transform: uppercase;}
	#portfolio{ height: 1500px;}
	#logo{margin-left: 2em;}
	.button{padding:1.5em;}
	.isotope{padding-top: 30%;}
	.form input{font-size: 18px; width:98%;}
	#submit{width:50%;}
}